*{
    font-family: "Segoe UI",SegoeUI,"Helvetiaroa Neue",Helvetica,Arial,sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}
.container-fluid{
    padding: 0;
}
ul{
    list-style-type: none;
}
li{
    list-style-type: none;
}
.row li{
    padding: 0;
}
.list-top{
    margin: 0 50px;
}
.logo{
    width: 108px;
    
}
.carousal-text{
    z-index: 10;
}
.nav-item a{
    font-size: 13px;
}
.navbar>div{
    padding: 0 5%;
}
.nav-font{
    font-size: 13px;
}
.carousal-control{
    position: relative;
    bottom: -22rem;
}
.carousal-control span{
    
    color: #0f0505 !important
      
}
.carousal-text{
    margin-left: 5rem;
    margin-top: 5rem;
}
.card-slide{
    display: flex;
}
.card-style{
    background: none;
}
.card-style a{
    background-color: #0067b8;
    border-radius: 0;
    
}
.carousel-card{
    padding-bottom: 64px;
}
.card-body h5{
    font-size: 1.8rem;
    margin-bottom:1rem ;

}
.card-body p{
    margin-bottom: 1rem;
}
img{
    width: 100%;
}
.card-design{
    border: 0;
}
.card-heading h2{
    margin-bottom: 1.25rem ;
}
.xbox-text{
    margin-left: 5rem;
    margin-top: 5rem;
}
.xbox-text h2{
    margin-bottom: 10px;
}
.xbox-text p{
    margin-bottom: 24px;
}
.xbox-text a{
    background-color: #0067b8;
    border-radius: 0;
}
.blank-space{
    height: 4rem;
}
.follow h2{
    font-size: 1rem;
}
.follow ul{
    padding: 0;
    height: 32px;
}
.follow li{
    margin-right: .75rem;
}
.follow img{
    width: 32px;
}
.sticky-outline{
    position: sticky;
    bottom : 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d9d9d9;
    border-radius: 0;
}
.content-sticky span{
    font-weight: 600;
}
.footer-bg{
    background: #f2f2f2;
}
.foot-nav{
    margin: 0;
    padding: 0 5%;
}

.nav-group{
    padding-right: 12px;
    
}
.nav-heading{
    padding: 36px 0 4px 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;    
}
.nav-group li{
    padding: 8px 0;
    font-size: 11px;
    line-height: 16px;
}
.footer-end{
    padding: 30px 5% 16px;
}
.left-end a{
    text-decoration: none;
    color:#616161;
    font-size: 11px;
    padding-right: 24px;
}
.left-end svg{
    margin-right: 10px;
}
.right-items a{
    text-decoration: none;
    color: #616161;
    font-size: 11px;
    padding-right: 24px;
}
@media (max-width:1084px){
    .image1{
        content: url(media/Highlight-M365-Icon-Bounce_VP4-1399x600.avif);
    }
}
@media(max-width:860px){
    .image1{
        content: url(media/Highlight-M365-Icon-Bounce_VP3-1083x600.avif);
    }
}
@media (max-width:540px){
    .image1{
        content: url(media/Highlight-M365-Icon-Bounce_VP2-859x540.avif);
    }
}
@media (max-width:1084px){
    .img2{
        content: url(media/Highlight-Surface-Pro-AI-11Ed-Sapphire-MC001-3000x1682_VP4-1399x600.avif);
    }
}
@media (max-width:860px){
    .img2{
        content: url(media/Highlight-Surface-Pro-AI-11Ed-Sapphire-MC001-3000x1682_VP3-1083x600.avif);
    }
}
@media (max-width:540px){
    .img2{
        content: url(media/Highlight-Surface-Pro-AI-11Ed-Sapphire-MC001-3000x1682_VP2-859x540.avif);
    }
}

@media (max-width:1084px){
    .x-box-series{
        content: url(media/gldn-XSS-Hero-Xbox-Series-S_VP4-1260x600.avif);
    }
}
@media (max-width:860px){
    .x-box-series{
        content: url(media/gldn-XSS-Hero-Xbox-Series-S_VP3-1083x600.avif);
    }
}
@media (max-width:540px){
    .x-box-series{
        content: url(media/gldn-XSS-Hero-Xbox-Series-S_VP2-859x540.avif);
    }
}